<h3>Your Order</h3>
<div *ngIf="orderHistoryList.length > 0">
  <table class="table table-bordered">
    <tr>
      <th width="20%">Order Tracking Number</th>
      <th width="10%">Total Price</th>
      <th width="10%">Total Quantity</th>
      <th width="10%">Date</th>
    </tr>
    <tr *ngFor="let tempOrderHistory of orderHistoryList">
      <td> {{ tempOrderHistory.orderTrackingNumber }}</td>
      <td> {{ tempOrderHistory.totalPrice | currency : 'USD' }}</td>
      <td> {{ tempOrderHistory.totalQuantity }}</td>
      <td> {{ tempOrderHistory.dateCreated | date: 'medium'}}</td>

    </tr>
  </table>
</div>
